@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-secondary: #0f172a;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --font-sans: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-sans);
}